.jsbody {
  background-color: bisque;
}
* {
  font-size: 1.4rem;
  color: rgb(130, 158, 45);
  font-weight: 700;
}
#resultText {
  text-align: center;
}
#result {
  text-align: center;
}

.operator {
  display: block;
  width: 6rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  background-color: rgb(141, 141, 225);
  color: brown;
}

.operations {
  display: flex;
  flex-direction: row;
}
