.capture {
  background-color: blueviolet;
  font-size: 18;
  border-style: bold;
  width: 800px;
  height: 200px;
}
.capture2 {
  background-color: blueviolet;
  font-size: 18;
  border-style: bold;
  width: 200px;
  height: 200px;
}
